<!DOCTYPE html>
<html>
  <head>
    <title>Twitter</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:notice] %>
      <div class = 'notification primary global-notification'>
        <p class='notice'><%= notice %></p>
      </div>
    <% end %>
      <% if flash[:alert] %>
      <div class = 'notification danger global-notification'>
        <p class='alert'><%= alert %></p>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
